extends layouts/_layout

block variables
	-title = 'Главная1'

block content
	//begin main
	main.main

		//begin screen
		+b.SECTION.screen
			+e.IMG.decor._1.decor-img(src="./img/decor/decor_1.svg" alt="img")
			+e.IMG.decor._2.decor-img(src="./img/decor/decor_2.svg" alt="img")
			+e.container.container
				+e.triangle.triangle
				+e.inner
					+e.titles-wrap
						+i('decor-triangle', 'screen__decor-triangle')
						+e.H2.title Shl
						+e.H4.sub-title test
					+e.descr
						+e.P.descr-text Проходим SHL и другие тесты при устройстве на работу Online на
							+e.SPAN.descr-text-mark._color1 русском
							= ' '
							| и
							+e.SPAN.descr-text-mark._color2 английском
							= ' '
							| языке без предоплаты
						+e.A.descr-btn.btn._type-4(href="!#") Как сдать тест?
							.btn__icon-circle
								+i('triangle-play')
		// end screen
		
		//begin about
		+b.SECTION.about#about(style="background-image:url(img/bg/bg_particles-1.svg)")
			+e.container.container
				+e.text
					+sectTitle('о нас', 'Кто поможет Вам пройти SHL тесты без предоплаты ?', '_left about__title')
					+e.descr
						p Мы — друзья аспиранты без пяти минут кандидаты наук.
						p Обучаемся в аспирантуре и прекрасно разбираемся в любых научных дисциплинах. У нас технический склад ума и высоки IQ.
						p Мы сможем сдать за Вас SHL, Talent Q, Map TQ и любые другие тесты! При этом, оплата тестов осуществляется в течении недели после сдачи!
				+e.img(style='background-image: url(img/bg/about_bg.png)')
		//end about
		//**begin services**/
		+b.SECTION.services#services
			+e.IMG.decor.decor-img(src="img/decor/decor_3.svg" alt="img" )
			+e.container.container
				+sectTitle('Услуги и цены','Виды и стоимость прохождения SHL тестов', '_center services__title')
					+i('icon-decor-triangle')
				+e.row.row
					+e.item.box-block(onclick="")
						+e.item-corner._top
						+e.item-corner._bot
						+e.inner
							+e.item-icon-wrap
								+e.item-icon.icon-numbers
							+e.item-text
								+e.H3.item-title Числовые
								+e.H5.item-price
									span 2000
									| руб
					+e.item.box-block(onclick="")
						+e.item-corner._top
						+e.item-corner._bot
						+e.inner
							+e.item-icon-wrap
								+e.item-icon.icon-faces
							+e.item-text
								+e.H3.item-title Личностный опросник 
								+e.H5.item-price
									span 2500
									| руб
					+e.item.box-block(onclick="")
						+e.item-corner._top
						+e.item-corner._bot
						+e.inner
							+e.item-icon-wrap
								+e.item-icon.icon-speech-bubbles
							+e.item-text
								+e.H3.item-title Вербальные
								+e.H5.item-price
									span 2000
									| руб
					+e.item.box-block(onclick="")
						+e.item-corner._top
						+e.item-corner._bot
						+e.inner
							+e.item-icon-wrap
								+e.item-icon.icon-team-viewer
							+e.item-text
								+e.H3.item-title Сдача через ТeamViewer 
								+e.H5.item-price
									span 2000
									| руб
					+e.item.box-block(onclick="")
						+e.item-corner._top
						+e.item-corner._bot
						+e.inner
							+e.item-icon-wrap
								+e.item-icon.icon-video-camera
							+e.item-text
								+e.H3.item-title Видеозапись сдачи теста
								+e.H5.item-price
									span 500
									| руб
					+e.item.box-block(onclick="")
						+e.item-corner._top
						+e.item-corner._bot
						+e.inner
							+e.item-icon-wrap
								+e.item-icon.icon-discount
							+e.item-text
								+e.H3.item-title Скидка
								+e.UL.item-list.circled-list
									li При оплате вперед
									li Обращении с другом

							 

					
					

	

