extends layouts/_layout

block variables
	-title = 'Главная1'

block content
	//begin main
	main.main

		//begin screen
		+b.SECTION.screen
			+e.IMG.decor._1.decor-img(src="./img/decor/decor_1.svg" alt="img")
			+e.IMG.decor._2.decor-img(src="./img/decor/decor_2.svg" alt="img")
			+e.container.container
				+e.triangle.triangle
				+e.inner
					+e.titles-wrap
						+i('decor-triangle', 'screen__decor-triangle')
						+e.H2.title Shl
						+e.H4.sub-title test
					+e.descr
						+e.P.descr-text Проходим SHL и другие тесты при устройстве на работу Online на
							+e.SPAN.descr-text-mark._color1 русском
							= ' '
							| и
							+e.SPAN.descr-text-mark._color2 английском
							= ' '
							| языке без предоплаты
						+e.A.descr-btn.btn._type-4(href="!#") Как сдать тест?
							.btn__icon-circle
								+i('triangle-play')
		// end screen
		
		//begin about
		+b.SECTION.about#about(style="background-image:url(img/bg/bg_particles-1.svg)")
			+e.container.container
				+e.text
					+sectTitle('о нас', 'Кто поможет Вам пройти SHL тесты без предоплаты ?', '_left about__title')
					+e.descr
						p Мы — друзья аспиранты без пяти минут кандидаты наук.
						p Обучаемся в аспирантуре и прекрасно разбираемся в любых научных дисциплинах. У нас технический склад ума и высоки IQ.
						p Мы сможем сдать за Вас SHL, Talent Q, Map TQ и любые другие тесты! При этом, оплата тестов осуществляется в течении недели после сдачи!
				+e.img(style='background-image: url(img/bg/about_bg.png)')
		//end about

					
					

	

